* {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0;
}

.container {
   align-items: center;
   justify-content: center;
}

.firstgridholder {
  display: grid;
  grid-template-columns: 1fr 2fr;
}



.sidebar {
   background: rgb(35, 10, 58);
   color: white;
   grid-row: 1/3;
   
}

.dashb {
   font-size: 17px;
   padding-bottom: 20px;
   align-items: center;
   margin-top: 15px;
}

a {
   text-decoration: none;
   display: block;
   color: white;
   line-height: 30px;
   font-size: 13px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
   transition: .5s;

}

ul a:hover {
   padding-left: 20px;
}

a:hover {
   color: rgb(191, 119, 209);
   left: 40px;
}




ul {
   list-style: none;
}



/* Images edits */

.naruto {
   width: 33px;
   margin-left: 15px;
   margin-right: 15px;
}

.narutoe {
   width: 70px;
   height: 70px;
   align-items: center;
   display: block;
}


.narutoes {
   width: 25px;
   padding-right: 10px;
}

/* secondslide */


.secondslide {
   background: white;
   grid-column: 2/4;
   width: 100%;
   align-items: center;
   height: fit-content;
   padding-bottom: 5px;
   padding-left: 15px;
}


#containertwo {

  
   height: fit-content;
   padding-bottom: 15px;
  
   
  
}


.images {
   align-items: center;
}


.underneath {
   display: flex;
   align-items: center;
   padding-top: 19px;
}


.header2 {
   display: flex;
  
   align-items: center;
}


.margin {
   margin-left: 80px;
   display: flex;
   align-items: center;
   /* justify-content: space-evenly; */
   
}

input {
   /* margin-left: 5px; */
   /* width: 250px; */
   height: 19px;
   border-radius: 10px;
   background: #b1a4a4;
   border: none;
}


#buttons {
   margin-left: 80px;
}

button {
   background: rgb(35, 10, 58);
   color: white;
   border-radius: 15px;
   padding: 9px;
   border: none;
   width: 70px;
   margin: 5px;
}


/* thirdslide */ 

.thirdslide {
   background: rgb(155, 154, 154);
   padding-bottom: 15px;
   padding-left: 10px;
   padding-right: 10px;
}



.icon {
   margin-bottom: 17px;
}


#icons {
   padding-right: 15px;
   font-size: 15px;
}

.search {
   padding-top: 7px;
   display: flex;
}



#dash {
   font-size: 40px;
}









#hi {
   font-size: 9px;
   font-weight: bold;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Oakley {
   font-size: 17px;
   font-weight: bold;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}










.name {
   color: #000000;
   font-weight: bold;
   font-size: 13px;
   padding-right: 10px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





/* Third slide */

.heading {
   font-size: 20px;
   display: flex;
   margin-top: 15px;
   margin-bottom: 15px;
   font-weight: bold;
  
}


.maint {
   font-size: 10px;
   font-weight: bold;
  
}

.announce {
   font-size: 16px;
   margin-left: auto;
   margin-right: 65px;
}

.lorem {
   font-weight: 6px;
   border-bottom: 1px solid rgb(161, 156, 156);
   padding-bottom: 8px;
}

.topper {
   font-size: 15px;
   font-weight: bold;
}


p {
   font-size: 9px;
   line-height: 15px;
}


.gridholder {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: minmax(100px, auto);
   grid-gap: 15px;
}

.grid7
 {
   grid-row: 1/3;
   background: white;
   padding: 3px;
   border-radius: 5px;
   height: fit-content;
   
}

.grid8 {
   background: white;
   padding: 3px;
   border-radius: 5px;
}




.grid1,
.grid2
 {
   background: white;
   padding: 8px;
   border-radius: 5px;
   
}

.topper {
   font-size: 13px;
   padding-bottom: 10px;
}

p {
   font-size: 9px;
   color: rgb(155, 154, 154);
}



.tegan {
   font-size: 9px;
   display: flex;
   align-items: center;
   padding-left: 10px;
}


.toppe {
   font-weight: bold;
   padding-bottom: 10px;
   font-size: 13px;
   text-align: center;
}



.text1 {
   /* align-items: center;  
   text-align: center; */

   padding-left: 10px;
   padding-top: 10px;
}




.grid2 {
   grid-row: 1 / 2;
   
}

.text2 {
   display: flex;
   flex-direction: column;
}
.world {
   font-weight: bold;
} 


@media (min-width:1000px){
   .margin {
      margin-left: auto;
      display: flex;
      align-items: center;
      margin-right: 19px;
      /* justify-content: space-evenly; */
      
   }


   #buttons {
      margin-left: auto;
      margin-right: 19px;
   }

   .dashb {
      font-size: 13px;
      padding-bottom: 20px;
      align-items: center;
      margin-top: 15px;
      display: flex;
      flex-direction: row;
   }
}




